ul {
    font-family: Calibri;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7c1d9;
    font-size: 2em;
  }
  
  li {
    float: left;
  } 
  
  li a {
    display: block;
    color: rgb(41, 41, 41);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li img{
    display: block;
    width: 65px;
    padding: 8px;
  }
  
.active{
    background-color: #f09bc1;
    font-weight: bolder;
}

  li a:hover {
    background-color: #f088b7;
    font-weight: bolder;
}

/* .container {
  margin: auto;
} */

.center {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.center button {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-left: 45%;
  margin-right: 45%;
  background-color: #f7c1d9;
  font-weight: bold;
  margin: 30px;
}

.messages{
  background-color: white;
  overflow:hidden;
  font-size: 1em;
}
.messages li{
  display: block;
  float: initial;
  color: rgb(36, 36, 36);
  width: 500px;
  background-color: #fcd2e6;

}

.chatArea{
  width: 500px;
  display: inline-block;
  background-color: #f7c1d9;;
  border-radius: 30px;
}

input {
  border-radius: 5px;
  border: 2px solid #f7c1d9;
  padding: 5px;
}